@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap');

.news-submit{
    border: 1px solid black;
    width: 75%;
    padding: 2%;
}

.sub-button{
    font-size: 15px;
    border: none;
    margin-left: 8%;
    background-color: white;
}

.champs-entrer{
    width: 65%;
    padding: 2%;
    border: none;
}

.contenu-footer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Public Sans', sans-serif;
}


.contenu-footer a{
    text-decoration: none;
    color: #909090;
}

.footer-right{
    display: flex;
    width: 100%;

}

.bloc{
    width: 100%;
}

.footer-left{
    width: 50%;
    justify-content: center;
}

.footer-right{
    width: 50%;
}

.news-letter{
    width: 80%;
}



@media all and (orientation : portrait){
    .contenu-footer{
        flex-direction: column;
    }

    .footer-right{
        width: 100%

    }
    .footer-left{
        width: 100%;
    }

    .news-letter{
        width: 100%;
    }
    .bloc{
        width: 100%;
    }

    .news-submit{
        border: 1px solid black;
        width: 90%;
        padding: 2%;
    }
    
    .sub-button{
        font-size: 15px;
        margin-left: 2%;
        border: none;
        background-color: white;
    }
    
    .champs-entrer{
        width: 70%;
        padding: 2%;
        border: none;
    }
}