.news-submit{
    border: 1px solid black;
    width: 75%;
    padding: 2%;
    background-color: #EFF2F6;
}

.sub-button{
    font-size: 18px;
    border: none;
    margin-left: 14%;
    background-color: #EFF2F6;
    font-weight: 600;
}

.sub-button:hover{
    cursor: pointer;
}

.champs-entrer{
    width: 65%;
    border: none;
    background-color: #EFF2F6;
    font-size: 18px;
}

.contenu-footer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 8%;
}


.contenu-footer a{
    text-decoration: none;
    color: #909090;
}

.footer-right{
    display: flex;
    width: 100%;

}

.bloc{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.footer-left{
    width: 50%;
    justify-content: center;
}

.footer-right{
    width: 50%;
}

.news-letter{
    width: 80%;
}

.news-letter h1 {
    font-size: 44px;
}

.liens {
    font-size: 20px;
    margin-bottom: 20px;
}

@media all and (orientation : portrait){
    .contenu-footer{
        flex-direction: column;
    }

    .footer-right{
        width: 100%

    }
    .footer-left{
        width: 100%;
    }

    .news-letter{
        width: 100%;
    }
    .bloc{
        width: 100%;
    }

    .news-submit{
        border: 1px solid black;
        width: 90%;
        padding: 2%;
    }
    
    .sub-button{
        font-size: 15px;
        margin-left: 2%;
        border: none;
        background-color: #EFF2F6;
    }
    
    .champs-entrer{
        width: 70%;
        padding: 2%;
        border: none;
    }
}

