@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;500;700;900&display=swap');

/* NavBar */

.navbar {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--primary);
    font-family: "Public Sans";
} 

a .burger {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding-bottom: 80%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

a .burger .lines {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-content: flex-end;
}

a .burger .lines .line {
    width: 40px;
    height: 3px;
    margin-bottom: 5px;
    background-color: var(--bg);
    border-radius: 15000px;
}

#nav {
    display: flex;
    flex-flow: column wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -10%;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 80%;
    overflow: hidden;
    display: none;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
    0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.links {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.links a {
    text-decoration: none;
    color: var(--bg);
    font-size: 36px;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.links a h1 {
    font-size: 24px;
    font-weight: bold;
}

.links a p {
    font-size: 24px;
    font-weight: 300;
}

.search {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 2;
    align-items: center;
}

.search svg {
    color: var(--bg);
}

.search .search-bar {
    padding: 12px 20px;
    width: 70vw;
    background-color: var(--primary);
    color: var(--bg);
    border: none;
    font-size: large;
}

.search .search-bar:focus {
    border: none;
    outline: none;
}

.account {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    margin-bottom: 10%;
}

.account svg {
    color: var(--bg);
}

.account h2 {
    color: var(--bg);
    margin-left: 4px;
    font-size: 18px;
    font-weight: 400;
}

.account a {
    margin-left: 25px;
    text-decoration: none;
}

.underline {
    color: var(--bg); 
    background-color: var(--bg); 
    width: 100%;
}

@media screen and (min-width: 1600px) {
    .burger {
        display: none;
    }

    .burger .line {
        display: none;
    }

    .navbar {
        display: flex;
        flex-flow: row wrap;
        background-color: var(--primary);
    } 
    
    #nav {
        display: flex;
        flex-flow: row nowrap;
        padding: 0;
        margin: 0;
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
        width: 100%;
        opacity: 1;
        color: var(--bg);
    }
    
    .links {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 2;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .links a {
        text-decoration: none;
        color: var(--bg);
        font-size: 36px;
        margin-left: 5%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .links a h1 {
        font-size: 24px;
        font-weight: bold;
    }
    
    .links a p {
        font-size: 24px;
        font-weight: 300;
    }
    
    .search {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 2;
        align-items: center;
        margin-left: 50px;
    }
    
    .search svg {
        color: var(--bg);
    }
    
    .search .search-bar {
        padding: 12px 20px;
        width: 600px;
        background-color: var(--primary);
        color: var(--bg);
        border: none;
        font-size: large;
    }
    
    .search .search-bar:focus {
        border: none;
        outline: none;
    }
    
    .account {
        display: flex;
        flex-flow: row wrap;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        align-content: flex-end;
        margin-bottom: 0;
    }
    
    .account svg {
        color: var(--bg);
    }
    
    .account h2 {
        color: var(--bg);
        margin-left: 4px;
        font-size: 18px;
        font-weight: 400;
    }
    
    .account a {
        margin-left: 25px;
        text-decoration: none;
    }
    
    .underline {
        color: var(--bg); 
        background-color: var(--bg); 
        width: 100%;
    }
}

:root {
    --primary: #0D0D0D;
    --secondary: #979797;
    --bg: #EFF2F6;
    --text-primary: black;
    --text-secondary: #979797;
    --border: #1C275A;
}