@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap');

body{
    background-color: #F0F2F6;
}

.pannier{
    order: 1;
    width: 50%;
    margin-right: 10%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    font-family: 'Public Sans', sans-serif;
}

.title-pannier{
    margin-bottom: 4%;
}

img{
    width : 200px;
    height: 200px;

}

.article{
    display: flex;
    width: 100%;
    margin-top: 2%;
}

.content-text{
    padding-left: 2%;
    width: 100%;
}

.test{
    order: 1;
    width: 40%;
    margin-top: 4%;
}
.order-summary{
    order: 2;
    margin-top: 4%;
    width: 40%;

}

.champs-entrer{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.button{
    font-size: 17px;
}

a{
    color: #0D0D0D;
}


.order-information{
    width: 50%;
    order: 3;

}


.title-order-information{
    color: #0D0D0D;
}

.content-order-information{
    color: #909090;
}

.button-summary {
    background-color: #0D0D0D;
    border: none;
    color: white;
    padding: 3% 0%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.4s ease-in-out;
    width: 100%;
    margin-top: 2%;
}

.button-summary:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.right{
    float:right;
}

.left{
    float:left;
}





@media all and (orientation : portrait){
    .container{
        flex-direction: column;
    }

    .pannier{
        order: 1;
        width: 100%;
    }
    .content-text{
        margin-top: -2%;
        width: 100%;
    }
    .order-summary{
        order: 2;
        width: 100%;
        height: 100%;
        margin-left: 0%;
    }
    .order-information{
        order: 3;
        width: 100%;
    }

}




